@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Regular-WebM.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px 40px 0;
    background: #151515 url('../img/bg.png');
    background-size: cover;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #E0EAFF;
    overflow-x:hidden;
}

.spot {
    position: absolute;
    width: 95vh;
    height: 95vh;
    top: 0;
    right: 0;
    background: url('../img/spot.png');
    background-size: cover;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    height: 84px;
    margin: 0 auto;
    padding: 3px 47px 0 40px;
    background: linear-gradient(to bottom, rgba(171, 171, 171, 0.1) 0%, rgba(147, 147, 147, 0.1) 100%);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 24px;
}

.nav {
    display: flex;
    gap: 56px;
}

.burger {
    display: none;
}

.link {
    font-size: 18px;
    font-weight: 500;
    color: #E0EAFF;
    text-decoration: none;
    transition: color 0.2s;
}

.link:hover {
    color: #8F8FFF;
}

.main {
    width: 1280px;
    margin: 0 auto;
}

.heading {
    display: flex;
    padding-top: 112px;
    letter-spacing: 5px;
}

.title {
    font-size: 160px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 176px;
}

.title__first-word {
    display: block;
    color: #FFFFFF;
    transform: rotate(7.01deg);
}

.title__second-word {
    display: block;
    margin-top: 27px;
    color: #FE64FA;
}

.star {
    width: 300px;
    height: 332px;
    margin-top: -178px;
    margin-left: -143px;
    z-index: -1;
    background: url(../img/star.png) no-repeat center center / cover;
}

.benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 320px;
}

.benefit__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    width: 410px;
    height: 137px;
    margin-top: 32px;
    margin-left: 217px;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.btn-cb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 52px;
    padding-left: 24px;
    padding-right: 19px;
    background: #8F8FFF;
    border: 1px solid #8F8FFF;
    border-radius: 16px;
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-cb:hover {
    background: #A3A3FF;
}

.btn-cb:active {
    background: #6464FF;
}

.benefit__note {
    align-self: flex-end;
    width: 360px;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 13px;
}

.ticker {
    position: relative;
    left: -2%;
    display: flex;
    width: 105%;
    padding: 17px 0;
    overflow-x: hidden;
    background: #15151533;
    backdrop-filter: blur(15px);
    border-top: 1px solid #323232;
}

.ticker-1 {
    margin-top: -185px;
    transform: rotate(-12.47deg);
    z-index: -1;
}

.ticker-2 {
    margin-top: -18px;
    transform: rotate(-4.8deg);
    z-index: -2;
}

.scroller {
    font-size: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000000;
}

.scroller-1,
.scroller-2 {
    text-shadow: 
        -1px -1px 0 #8F8FFF,
        1px -1px 0 #8F8FFF,
        -1px 1px 0 #8F8FFF,
        1px 1px 0 #8F8FFF;
}

.scroller-3,
.scroller-4 {
    text-shadow: 
        -1px -1px 0 #FFEB1C,
        1px -1px 0 #FFEB1C,
        -1px 1px 0 #FFEB1C,
        1px 1px 0 #FFEB1C;
}

.scroller span {
    display: inline-block;
}

.scroller-1 span::before,
.scroller-2 span::before {
    content: "";
    background: url('../img/star-pink.svg') no-repeat center center/cover;
    width: 60px;
    height: 60px;
    margin: -10px 20px;
    display: inline-block;
}

.scroller-3 span::before,
.scroller-4 span::before {
    content: "";
    background: url('../img/star-blue.svg') no-repeat center center/cover;
    width: 60px;
    height: 60px;
    margin: -10px 20px;
    display: inline-block;
}

.scroller-1,
.scroller-3 {
    animation: marquee-1 200s infinite linear;
    animation-delay: -200s;
}

.scroller-2,
.scroller-4 {
    animation: marquee-2 200s infinite linear;
    animation-delay: -100s;
}

.note {
    width: 360px;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 13px;
    line-height: 27px;
}

.popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.popup {
    background: rgb(29, 29, 29);
    border-radius: 10px;
    padding: 40px;
    max-width: 500px;
    width: 95%;
    height: 528px;
    border-radius: 24px;
}

.form-title {
    display: flex;
    justify-content: space-between;
}

.form-title__heading{
    font-size: 32px;
    color: #F0F0F0;
    font-family: "Suisse Intl", sans-serif;
}

.close-icon {
    width: 32px;
    height: 32px;
    background: url('../img/close.svg');
}

.close-icon:hover {
    cursor: pointer;
}

.form-reg {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    border: 1px solid #525151;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    height: 56px;
    background: rgba(29, 29, 29, 0.8);
    color: #F0F0F0;
}

.error-phone {
    height: 25px;
    color: #ff0000;
}

.btn-form {
    height: 60px;
    margin-top: 20px;
    background-color: #8F8FFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-form:hover {
    background-color: #6464FF;
}

.privacy-notice {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 12px;
    color: #F0F0F0;
    margin-top: 10px;
    text-align: left;
}

@keyframes marquee-1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
    body {
        padding: 40px 32px 0;
    }

    .main {
        width: 100%;
    }

    .heading {
        padding-top: 72px;
        letter-spacing: 3px;
    }

    .title {
        font-size: 120px;
        line-height: 132px;
    }

    .title__first-word {
        transform: rotate(10.44deg);
    }

    .heading {
        justify-content: space-between;
        padding-right: 14px;
    }

    .star {
        transform: rotate(-7deg);
        width: 260px;
        height: 269px;
        margin-left: -99px;
        margin-top: -140px;
    }

    .benefit__desc {
        height: 124px;
        margin-top: 24px;
        margin-left: 164px;
        font-size: 16px;
        line-height: 24px;
    }

    .benefit__note {
        width: 387px;
    }

    .ticker-2 {
        margin-top: -47px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        padding: 40px 20px 0;
    }

    .header {
        padding: 3px 28px 0 20px;
    }

    .main {
        width: 100%;
    }

    .heading {
        padding-top: 58px;
        letter-spacing: 3px;
        justify-content: space-between;
        padding-right: 14px;
    }

    .title {
        font-size: 94px;
        line-height: 103px;
    }

    .title__second-word {
        margin-top: 8px;
    }

    .star {
        width: 200px;
        height: 209px;
        margin-top: -91px;
        margin-left: -85px;
        transform: rotate(324deg);
    }

    .benefit__desc {
        width: 500px;
        height: 123px;
        margin-top: 17px;
        margin-left: 123px;
        font-size: 16px;
        line-height: 24px;
    }

    .benefit__note {
        margin-left: -230px;
        width: 373px;
    }

    .ticker-1 {
        margin-top: -206px;
    }

    .ticker-2 {
        margin-top: -53px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        padding: 20px 20px 0;
    }

    .header {
        height: 80px;
        padding: 3px 16px 0 20px;
        border-radius: 16px;
    }

    .logo img {
        height: 32px;
    }

    .nav {
        display: none;
    }

    .burger {
        display: block;
        width: 48px;
        height: 48px;
        background: url('../img/burger.svg');
    }

    .burger:hover {
        cursor: pointer;
    }

    .main {
        width: 100%;
    }

    .heading {
        padding-top: 60px;
        letter-spacing: 1px;
        justify-content: space-between;
    }

    .title {
        font-size: 46px;
        line-height: 50px;
    }

    .title__first-word {
        transform: rotate(11.5deg);
    }

    .title__second-word {
        margin-top: 23px;
    }

    .star {
        width: 130px;
        height: 120px;
        margin-top: -92px;
        margin-right: -42px;
        transform: rotate(-52deg);
    }

    .benefit {
        width: 100%;
        height: 272px;
        flex-direction: column;
    }

    .benefit__desc {
        width: 100%;
        height: 124px;
        margin-left: 0;
        margin-top: 65px;
        line-height: 25px;
        letter-spacing: -1px;
    }

    .benefit__note {
        width: 100%;
    }

    .ticker-1 {
        margin-top: 37px;
    }

    .ticker-2 {
        margin-top: -8px;
    }
}

.iti__country-list {
    max-width: 300px;
    overflow-x: hidden;
    background-color: #151515;
}

.iti__country-name {
    display: none;
}
