@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Regular-WebM.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 40px;
    background: #151515 url('../img/bg.png');
    background-size: cover;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #E0EAFF;
    overflow-x:hidden;
}

.spot {
    position: absolute;
    width: 95vh;
    height: 95vh;
    top: 0;
    right: 0;
    background: url('../img/spot.png');
    background-size: cover;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    width: 95%;
    height: 84px;
    margin: 0 auto;
    padding: 0 47px 0 40px;
    background: linear-gradient(to bottom, rgba(171, 171, 171, 0.1) 0%, rgba(147, 147, 147, 0.1) 100%);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 24px;
}

.nav {
    display: flex;
    gap: 56px;
}

.link {
    font-size: 18px;
    font-weight: 500;
    color: #E0EAFF;
    text-decoration: none;
    transition: color 0.2s;
}

.link:hover {
    color: #8F8FFF;
}

.main {
    width: 1280px;
    margin: 0 auto;
}

.heading {
    display: flex;
    padding-top: 112px;
    letter-spacing: 5px;
}

.title {
    font-size: 160px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 176px;
}

.title__first-word {
    display: block;
    color: #FFFFFF;
    transform: rotate(7.01deg);
}

.title__second-word {
    display: block;
    margin-top: 27px;
    color: #FE64FA;
}

.star {
    margin-top: -180px;
    margin-left: -157px;
    z-index: -1;
}

.benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 320px;
}

.benefit__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    width: 410px;
    height: 137px;
    margin-top: 32px;
    margin-left: 217px;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 52px;
    padding-left: 24px;
    padding-right: 19px;
    background: #8F8FFF;
    border: 1px solid #8F8FFF;
    border-radius: 16px;
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.2s;
}

.btn:hover {
    background: #A3A3FF;
}

.btn:active {
    background: #6464FF;
}

.benefit__note {
    align-self: flex-end;
    width: 360px;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 13px;
}

.ticker {
    position: relative;
    left: -2%;
    display: flex;
    width: 105%;
    padding: 17px 0;
    overflow-x: hidden;
    background: #15151533;
    backdrop-filter: blur(15px);
    border-top: 1px solid #323232;
}

.ticker-1 {
    margin-top: -185px;
    transform: rotate(-12.47deg);
    z-index: -1;
}

.ticker-2 {
    margin-top: -18px;
    transform: rotate(-4.8deg);
    z-index: -2;
}

.scroller {
    font-size: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000000;
}

.scroller-1,
.scroller-2 {
    text-shadow: 
        -1px -1px 0 #8F8FFF,
        1px -1px 0 #8F8FFF,
        -1px 1px 0 #8F8FFF,
        1px 1px 0 #8F8FFF;
}

.scroller-3,
.scroller-4 {
    text-shadow: 
        -1px -1px 0 #FFEB1C,
        1px -1px 0 #FFEB1C,
        -1px 1px 0 #FFEB1C,
        1px 1px 0 #FFEB1C;
}

.scroller span {
    display: inline-block;
}

.scroller-1 span::before,
.scroller-2 span::before {
    content: "";
    background: url('../img/star-pink.svg') no-repeat center center/cover;
    width: 60px;
    height: 60px;
    margin: -10px 20px;
    display: inline-block;
}

.scroller-3 span::before,
.scroller-4 span::before {
    content: "";
    background: url('../img/star-blue.svg') no-repeat center center/cover;
    width: 60px;
    height: 60px;
    margin: -10px 20px;
    display: inline-block;
}

.scroller-1,
.scroller-3 {
    animation: marquee-1 40s infinite linear;
    animation-delay: -40s;
}

.scroller-2,
.scroller-4 {
    animation: marquee-2 40s infinite linear;
    animation-delay: -20s;
}

.note {
    width: 360px;
    font-family: 'Suisse Intl', sans-serif;
    font-size: 13px;
    line-height: 27px;
}

@keyframes marquee-1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}
